@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /*border: 2px solid red;*/
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

img {
  width: 600px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input,.buttons {
 text-align: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  margin-bottom: auto;
}

.footer {
  background-color: #eeeeee;
  margin-top: auto;
}